body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url('assets/bg.jpg') 0 0 no-repeat;
  background-size: cover;
  position: relative;
}
body, a:link, a:visited, a:active{
  color: #333;
}
.title, .button {
  padding:5px 12px;
  float:right;
  background: lightblue;
  border-radius: 5px;
  margin: 5px 5px 0 0;
}
.button:hover {
  background-color: #fff;
}
.topbar{
  /*height:32px;*/
  background-color: #555;
  position: relative;
  z-index: 9999;
}
.title{
  background-color: #777;
}
.dancer{
  width: 30px;
  height: 30px;
  position:absolute;
  /*z-index: 999;*/
}
.dancer:hover {
  cursor: pointer;
}
.dancer img {
  top: -50%;
  left: -50%;
}

.flyerdancer{
  background-image: url('assets/flylefttoright.gif');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;

}
.flyerdancer.motion {
  -webkit-animation: FlyUp 3s infinite;
  animation: FlyUp 3s infinite;
}
@-webkit-keyframes FlyUp{
  0% {top: 200px;}
  50% {top: 0px;}
  100% {top: 200;}
}

.running-dancer {
  background-size: cover;
  width: 150px;
  height: 107px;
}
.running-dancer.motion {
  -webkit-animation: BackAndForth 3s infinite;
  animation: BackAndForth 3s infinite;
}

@-webkit-keyframes BackAndForth {
  0% {margin-left: 0px;}
  50% {margin-left: -600px;}
  100% {margin-left: 0px;}
}
.running-dancer span {
  background-image: url('assets/runpikachurighttoleft.gif');
  height: 100%;
  width: 100%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
.running-dancer.motion span {
  -webkit-animation: Flip 3s steps(1) infinite;
  -webkit-animation-fill-mode: forwards;
  animation: Flip 3s steps(15) infinite;
  animation-fill-mode: forwards;
}
@-webkit-keyframes Flip{
  0% {background-image: url('assets/runpikachurighttoleft.gif');}
  50% {background-image: url('assets/runpikachulefttoright.gif');}
}
@keyframes Flip{
  0% {left: 800;}
  100% {left: 300;}
}

.growing-dancer {
  background: url('assets/runtowardspikachu.gif') center top no-repeat;
  background-size: contain;
  width: 100px;
  height: 150px;
  -webkit-animation: Grow 3s;
  animation: Grow 3s;
}

@-webkit-keyframes Grow{
    0% {width: 60px; height: 80px;}
    100% {width: 100px; height: 150px;}
}

@keyframes Grow{
    0% {width: 60px; height: 80px;}
    100% {width: 100px; height: 150px;}
}

.pokeball {
  bottom: 0;
  position: absolute;
  z-index: -2;
  width: 200px;
}
.pokeball img {
  width: 100%;
}

.pokeball.motion img {
  -webkit-animation: Wobble steps(4) 2s;
  transform-origin: center bottom;
}
@-webkit-keyframes Wobble{
  0% {transform: rotate(30deg);}
  25% {transform: rotate(-30deg);}
  50% {transform: rotate(15deg);}
  100% {transform: rotate(-15deg);}
}

.catchem {
  display: block;
  width: 600px;
  z-index: 999;
  margin: 0px auto;
}
.catchem img {
  width: 100%;
  margin-top: 140px;
}